body {
    background: linear-gradient(45deg, red, rgb(28, 28, 253));
    background-repeat: no-repeat;
    background-size: contain;
    color: whitesmoke;
}

section {
    background-color: rgba(31, 31, 31, 0.3);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

#login-page {
    background-color: blue;
    padding: 1rem 1rem;
    border-radius: 8px;
}

#login-page:hover {
    background-color: rgb(91, 91, 251);
}

a {
    text-decoration: none;
}

input {
    outline: none;
    border: none;
    box-shadow: none;
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid red;
}

#menuicon i {
    color: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s;
}

.nav {
    width: 100%;
    display: block;
    padding: 1rem 4rem 0 6rem;
}

.nav div.logo {
    width: 180px;
    height: 10px;
    position: absolute;
}

.nav div.topnavbar ul {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: end;
    list-style: none;
}

.nav div.topnavbar ul li {
    width: 120px;
    height: 65px;
}

.nav div.topnavbar ul li a {
    text-decoration: none;
    color: whitesmoke;
    text-transform: uppercase;
}

.nav div.topnavbar ul li a:hover {
    color: #000000;
}

.nav div.menubutton {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    top: 12px;
    display: none;
}




@media screen and (min-width: 768px) and (max-width: 1024px) {

    #login-page {
        background-color: blue;
        padding: 1rem 1rem;
        border-radius: 8px;
    }

    #login-page:hover {
        background-color: rgb(91, 91, 251);
    }

    .nav {
        width: 90%;
        padding: 1rem 2rem 0 4rem;
    }
}




@media screen and (max-width:768px) {

    .nav {
        padding: 0 0 0 1rem;
        width: 90%;
        display: inline-block;
    }

    .header {
        display: block;
        margin: 0;
    }

    #login-page {
        background-color: blue;
        padding: 0;
        border-radius: 8px;
    }

    #login-page:hover {
        background-color: rgb(91, 91, 251);
    }

    .nav div.logo {
        margin-left: 15px;
    }

    .nav div.topnavbar {
        width: 100%;
        margin-top: 20px;
        height: 0px;
        overflow: hidden;
    }

    .nav div.show_list {
        height: 200px;
    }

    .nav div.topnavbar ul {
        flex-direction: column;
        width: 100%;
        height: 200px;
        top: 80px;
        right: 0;
        left: 0;
    }

    .nav div.topnavbar ul li {
        width: 100%;
        height: 40px;
        background-color: rgba(0, 0, 255, 0.8);
    }

    .nav div.topnavbar ul li a {
        text-align: center;
        width: 100%;
        height: 40px;
        display: table;
    }

    .nav div.menubutton {
        margin-top: 1rem;
        display: block;
    }
}